<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quantum.lhe.coupon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name=".com.quantum.lhe.coupen.application.CouponApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".com.quantum.lhe.coupen.signup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.WelcomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.ForgotPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.SignUpActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.AllCouponActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.CategoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.CategoryOveviewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.CouponDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.MenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.views.SaveActivity"
            android:screenOrientation="portrait"></activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>