<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quantum.lhe.coupon">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".com.quantum.lhe.coupen.signup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.WelcomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.ForgotPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".com.quantum.lhe.coupen.signup.SignUpActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>